<a href="https://colab.research.google.com/github/jatinlakhani1234/NLP/blob/main/HMM_for_POS_Tagging_using_Viterbi_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> HMM for POS tagging using Viterbi Algorithm </center>
Group members:
1. Jatin Lakhani - 18ucs128
2. Anurag Gupta - 18ucs134
3. Dhruv Yadav - 18ucs223
4. Vipul Khandelwal - 18ucs095

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

## Training Data

Training data is provided from https://www.clips.uantwerpen.be/conll2000/chunking/

In [3]:
# Making a data frame
Train_data = pd.read_csv('train.txt', delimiter=' ', names = ['Word', 'POS_Tag', 'Chunk_Tag'])

In [4]:
Train_data.head(50)

           Word POS_Tag Chunk_Tag
0    Confidence      NN      B-NP
1            in      IN      B-PP
2           the      DT      B-NP
3         pound      NN      I-NP
4            is     VBZ      B-VP
5        widely      RB      I-VP
6      expected     VBN      I-VP
7            to      TO      I-VP
8          take      VB      I-VP
9       another      DT      B-NP
10        sharp      JJ      I-NP
11         dive      NN      I-NP
12           if      IN    B-SBAR
13        trade      NN      B-NP
14      figures     NNS      I-NP
15          for      IN      B-PP
16    September     NNP      B-NP
17            ,       ,         O
18          due      JJ    B-ADJP
19          for      IN      B-PP
20      release      NN      B-NP
21     tomorrow      NN      B-NP
22            ,       ,         O
23         fail      VB      B-VP
24           to      TO      I-VP
25         show      VB      I-VP
26            a      DT      B-NP
27  substantial      JJ      I-NP
28  improvement      NN      I-NP
29         from      IN      B-PP
30         July     NNP      B-NP
31          and      CC      I-NP
32       August     NNP      I-NP
33           's     POS      B-NP
34  near-record      JJ      I-NP
35     deficits     NNS      I-NP
36            .       .         O
37   Chancellor     NNP         O
38           of      IN      B-PP
39          the      DT      B-NP
40    Exchequer     NNP      I-NP
41        Nigel     NNP      B-NP
42       Lawson     NNP      I-NP
43           's     POS      B-NP
44     restated     VBN      I-NP
45   commitment      NN      I-NP
46           to      TO      B-PP
47            a      DT      B-NP
48         firm      NN      I-NP
49     monetary      JJ      I-NP

In [5]:
Train_data.describe()

          Word POS_Tag Chunk_Tag
count   211727  211727    211727
unique   19122      44        22
top          ,      NN      I-NP
freq     10770   30147     63307

In [6]:
Tag1 = Train_data.POS_Tag.unique()
print(Tag1.size)
Tag1

44

array(['NN', 'IN', 'DT', 'VBZ', 'RB', 'VBN', 'TO', 'VB', 'JJ', 'NNS',
       'NNP', ',', 'CC', 'POS', '.', 'VBP', 'VBG', 'PRP$', 'CD', '``',
       "''", 'VBD', 'EX', 'MD', '#', '(', '$', ')', 'NNPS', 'PRP', 'JJS',
       'WP', 'RBR', 'JJR', 'WDT', 'WRB', 'RBS', 'PDT', 'RP', ':', 'FW',
       'WP$', 'SYM', 'UH'], dtype=object)

In [7]:
Tag2 = Train_data.Chunk_Tag.unique()
print(Tag2.size)
Tag2

22

array(['B-NP', 'B-PP', 'I-NP', 'B-VP', 'I-VP', 'B-SBAR', 'O', 'B-ADJP',
       'B-ADVP', 'I-ADVP', 'I-ADJP', 'I-SBAR', 'I-PP', 'B-PRT', 'B-LST',
       'B-INTJ', 'I-INTJ', 'B-CONJP', 'I-CONJP', 'I-PRT', 'B-UCP',
       'I-UCP'], dtype=object)

In [8]:
Words = Train_data.Word
len(Words)

211727

In [9]:
Words_list = np.array(Words)
for i in range(500):
    print(Words_list[i], end=' ')

Confidence in the pound is widely expected to take another sharp dive if trade figures for September , due for release tomorrow , fail to show a substantial improvement from July and August 's near-record deficits . Chancellor of the Exchequer Nigel Lawson 's restated commitment to a firm monetary policy has helped to prevent a freefall in sterling over the past week . But analysts reckon underlying support for sterling has been eroded by the chancellor 's failure to announce any new policy measures in his Mansion House speech last Thursday . This has increased the risk of the government being forced to increase base rates to 16 % from their current 15 % level to defend the pound , economists and foreign exchange market analysts say . `` The risks for sterling of a bad trade figure are very heavily on the down side , '' said Chris Dillow , senior U.K. economist at Nomura Research Institute . `` If there is another bad trade number , there could be an awful lot of pressure , '' noted Simon Briscoe , U.K. economist for Midland Montagu , a unit of Midland Bank PLC . Forecasts for the trade figures range widely , but few economists expect the data to show a very marked improvement from the # 2 billion -LRB- $ 3.2 billion -RRB- deficit in the current account reported for August . The August deficit and the # 2.2 billion gap registered in July are topped only by the # 2.3 billion deficit of October 1988 . Sanjay Joshi , European economist at Baring Brothers & Co. , said there is no sign that Britain 's manufacturing industry is transforming itself to boost exports . At the same time , he remains fairly pessimistic about the outlook for imports , given continued high consumer and capital goods inflows . He reckons the current account deficit will narrow to only # 1.8 billion in September . However , Mr. Dillow said he believes that a reduction in raw material stockbuilding by industry could lead to a sharp drop in imports . Combined with at least some rebound in exports after August 's unexpected decline , the deficit could narrow to as little as # 1.3 billion . Mr. Briscoe , who also forecasts a # 1.3 billion current account gap , warns that even if the trade figures are bullish for sterling , the currency wo n't advance much because investors will want to see further evidence of the turnaround before adjusting positions . Nevertheless , he noted , `` No one will want to go into the trade figures without a flat position '' in the pound . Meanwhile , overall evidence on the economy remains fairly clouded . In his Mansion House speech , Mr. Lawson warned that a further slowdown can be expected as the impact of the last rise in interest rates earlier this month takes effect . U.K. base rates are at their

## Pre-processing

As we can see that there are lot of special characters like ,''#()$. These need to be removed.

In [10]:
remove = [',', '``', "''", '#', '(', '$', ')', ':']
for item in remove:
    index_names = Train_data[Train_data.POS_Tag == item].index
    print(item, '->', len(index_names))
    Train_data.drop(index_names, inplace=True)

Train_data.describe()

, -> 10770
`` -> 1531
'' -> 1493
# -> 36
( -> 274
$ -> 1750
) -> 281
: -> 1047

          Word POS_Tag Chunk_Tag
count   194545  194545    194545
unique   19103      36        22
top        the      NN      I-NP
freq      9219   30147     62109

In [11]:
# After removing special characters, the unique POS_Tags are:
Tag1 = Train_data.POS_Tag.unique()
print(Tag1.size)
Tag1

36

array(['NN', 'IN', 'DT', 'VBZ', 'RB', 'VBN', 'TO', 'VB', 'JJ', 'NNS',
       'NNP', 'CC', 'POS', '.', 'VBP', 'VBG', 'PRP$', 'CD', 'VBD', 'EX',
       'MD', 'NNPS', 'PRP', 'JJS', 'WP', 'RBR', 'JJR', 'WDT', 'WRB',
       'RBS', 'PDT', 'RP', 'FW', 'WP$', 'SYM', 'UH'], dtype=object)

In [12]:
Words = Train_data.Word
len(Words)

194545

In [13]:
Words_list = np.array(Words)
for i in range(500):
    print(Words_list[i], end=' ')

Confidence in the pound is widely expected to take another sharp dive if trade figures for September due for release tomorrow fail to show a substantial improvement from July and August 's near-record deficits . Chancellor of the Exchequer Nigel Lawson 's restated commitment to a firm monetary policy has helped to prevent a freefall in sterling over the past week . But analysts reckon underlying support for sterling has been eroded by the chancellor 's failure to announce any new policy measures in his Mansion House speech last Thursday . This has increased the risk of the government being forced to increase base rates to 16 % from their current 15 % level to defend the pound economists and foreign exchange market analysts say . The risks for sterling of a bad trade figure are very heavily on the down side said Chris Dillow senior U.K. economist at Nomura Research Institute . If there is another bad trade number there could be an awful lot of pressure noted Simon Briscoe U.K. economist for Midland Montagu a unit of Midland Bank PLC . Forecasts for the trade figures range widely but few economists expect the data to show a very marked improvement from the 2 billion 3.2 billion deficit in the current account reported for August . The August deficit and the 2.2 billion gap registered in July are topped only by the 2.3 billion deficit of October 1988 . Sanjay Joshi European economist at Baring Brothers & Co. said there is no sign that Britain 's manufacturing industry is transforming itself to boost exports . At the same time he remains fairly pessimistic about the outlook for imports given continued high consumer and capital goods inflows . He reckons the current account deficit will narrow to only 1.8 billion in September . However Mr. Dillow said he believes that a reduction in raw material stockbuilding by industry could lead to a sharp drop in imports . Combined with at least some rebound in exports after August 's unexpected decline the deficit could narrow to as little as 1.3 billion . Mr. Briscoe who also forecasts a 1.3 billion current account gap warns that even if the trade figures are bullish for sterling the currency wo n't advance much because investors will want to see further evidence of the turnaround before adjusting positions . Nevertheless he noted No one will want to go into the trade figures without a flat position in the pound . Meanwhile overall evidence on the economy remains fairly clouded . In his Mansion House speech Mr. Lawson warned that a further slowdown can be expected as the impact of the last rise in interest rates earlier this month takes effect . U.K. base rates are at their highest level in eight years . But consumer expenditure data released Friday do n't suggest that the U.K. economy is slowing that quickly . The figures show that spending rose 0.1 % in the third quarter from the

## Transition Probablity Matrix

In [14]:
POS_Tags = Train_data.POS_Tag.unique()
transition_matrix = np.zeros(shape=(len(POS_Tags),len(POS_Tags)))
transition_matrix.shape

(36, 36)

In [15]:
def tag2_given_tag1(tag2, tag1, train_bag = Train_data):
    tags = list(train_bag.POS_Tag)
    tag1_tags_count = tags.count(tag1)
    if tag1_tags_count == 0:
        return 0
    
    tag2_given_tag1_list = [i for i in range(len(tags)-1) if tags[i] == tag1 and tags[i+1] == tag2]
    tag2_given_tag1_count = len(tag2_given_tag1_list)
    
    return(tag2_given_tag1_count/tag1_tags_count)

In [16]:
for i, tag1 in enumerate(list(POS_Tags)):
    for j, tag2 in enumerate(list(POS_Tags)):
        transition_matrix[i, j] = tag2_given_tag1(tag2, tag1)
transition_matrix

array([[1.24091949e-01, 2.64901980e-01, 2.38166318e-02, ...,
        3.98049557e-04, 9.95123893e-05, 0.00000000e+00],
       [1.13029345e-01, 3.08820945e-02, 3.28061852e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.86664849e-01, 8.67193891e-03, 1.85437687e-03, ...,
        0.00000000e+00, 0.00000000e+00, 2.18161985e-04],
       ...,
       [3.71428571e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 3.33333333e-01, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 6.66666667e-02, 1.33333333e-01, ...,
        0.00000000e+00, 0.00000000e+00, 6.66666667e-02]])

In [17]:
# convert the matrix to a data frame
transition_matrix_df = pd.DataFrame(transition_matrix, columns = list(POS_Tags), index=list(POS_Tags))
transition_matrix_df

            NN        IN        DT  ...       WP$       SYM        UH
NN    0.124092  0.264902  0.023817  ...  0.000398  0.000100  0.000000
IN    0.113029  0.030882  0.328062  ...  0.000000  0.000000  0.000000
DT    0.486665  0.008672  0.001854  ...  0.000000  0.000000  0.000218
VBZ   0.040448  0.100043  0.175559  ...  0.000000  0.000000  0.000000
RB    0.012714  0.139549  0.070985  ...  0.000000  0.000151  0.000000
VBN   0.094058  0.368885  0.067814  ...  0.000000  0.000000  0.000000
TO    0.022633  0.004330  0.110411  ...  0.000000  0.000000  0.000000
VB    0.066811  0.144092  0.214559  ...  0.000000  0.000000  0.000000
JJ    0.461139  0.057929  0.008942  ...  0.000076  0.000000  0.000000
NNS   0.026067  0.245392  0.033923  ...  0.000661  0.000000  0.000000
NNP   0.077751  0.047878  0.032287  ...  0.000503  0.000000  0.000050
CC    0.123790  0.052308  0.112063  ...  0.000186  0.000000  0.000186
POS   0.422272  0.002826  0.001696  ...  0.000000  0.000000  0.000000
.     0.045542  0.138552  0.228503  ...  0.000113  0.000113  0.000793
VBP   0.034868  0.099024  0.116109  ...  0.000000  0.000000  0.000000
VBG   0.132335  0.164120  0.196516  ...  0.000000  0.000000  0.000000
PRP$  0.449761  0.000532  0.000532  ...  0.000000  0.000000  0.000000
CD    0.206975  0.103909  0.040168  ...  0.000000  0.000120  0.000000
VBD   0.044626  0.139362  0.158636  ...  0.000000  0.000000  0.000000
EX    0.004854  0.000000  0.014563  ...  0.000000  0.000000  0.000000
MD    0.000000  0.005538  0.005999  ...  0.000000  0.000000  0.000000
NNPS  0.078571  0.114286  0.042857  ...  0.002381  0.000000  0.000000
PRP   0.002880  0.043717  0.016754  ...  0.000000  0.000000  0.000000
JJS   0.401070  0.109626  0.048128  ...  0.000000  0.000000  0.000000
WP    0.022684  0.011342  0.049149  ...  0.000000  0.000000  0.000000
RBR   0.006231  0.087227  0.115265  ...  0.000000  0.000000  0.000000
JJR   0.276671  0.364596  0.018757  ...  0.000000  0.000000  0.000000
WDT   0.015707  0.009424  0.025131  ...  0.000000  0.000000  0.001047
WRB   0.073222  0.010460  0.263598  ...  0.000000  0.000000  0.000000
RBS   0.031414  0.193717  0.000000  ...  0.000000  0.000000  0.000000
PDT   0.000000  0.000000  1.000000  ...  0.000000  0.000000  0.000000
RP    0.072289  0.301205  0.337349  ...  0.000000  0.000000  0.000000
FW    0.052632  0.105263  0.026316  ...  0.000000  0.000000  0.000000
WP$   0.371429  0.000000  0.000000  ...  0.000000  0.000000  0.000000
SYM   0.000000  0.333333  0.000000  ...  0.000000  0.000000  0.000000
UH    0.000000  0.066667  0.133333  ...  0.000000  0.000000  0.066667

[36 rows x 36 columns]

## Emission Probablity

In [18]:
# compute emission probability for a given word for a given tag
def word_given_tag(word, tag, train_bag = Train_data):
    tag_list = train_bag[train_bag.POS_Tag == tag]
    tag_list_count = len(tag_list)    
    w_in_tag = tag_list[tag_list.Word == word]
    word_count_given_tag = len(w_in_tag)
    
    return (word_count_given_tag/tag_list_count)

## Viterbi Algorithm

In [19]:
# Occurance of Tags in the Training Data
len_of_data = len(Train_data.POS_Tag)
tag_probability = {}
tags = Train_data.POS_Tag.unique()
for tag in tags:
    tag_count = len(Train_data[Train_data.POS_Tag == tag])
    tag_probability[tag] = tag_count/len_of_data
tag_probability

{'.': 0.045372535917139994,
 'CC': 0.027613148628851936,
 'CD': 0.0427407540671824,
 'DT': 0.09424554730268062,
 'EX': 0.0010588809786938754,
 'FW': 0.00019532755917654014,
 'IN': 0.11701148834459893,
 'JJ': 0.06725950294276388,
 'JJR': 0.004384589683620756,
 'JJS': 0.0019224343982112107,
 'MD': 0.011138811071988487,
 'NN': 0.1549615770130304,
 'NNP': 0.10220771543858748,
 'NNPS': 0.0021588835487933384,
 'NNS': 0.07000436916908684,
 'PDT': 0.00028271094091341335,
 'POS': 0.009093011899560513,
 'PRP': 0.01963555989616798,
 'PRP$': 0.009668714179238737,
 'RB': 0.03396129430208949,
 'RBR': 0.0016500038551491942,
 'RBS': 0.0009817779948083992,
 'RP': 0.0004266365108329692,
 'SYM': 3.084119355419055e-05,
 'TO': 0.026117350741473696,
 'UH': 7.710298388547637e-05,
 'VB': 0.03092857693592742,
 'VBD': 0.03467064175383587,
 'VBG': 0.016818730884885245,
 'VBN': 0.024482767483101596,
 'VBP': 0.014742090518903081,
 'VBZ': 0.02389164460664628,
 'WDT': 0.004908889974041995,
 'WP': 0.0027191652316944665,
 'WP$': 0.00017990696239944485,
 'WRB': 0.002457015086483847}

In [20]:
def Viterbi(words, train_bag = Train_data):
    state = [] #Tags
    
    Tags = train_bag.POS_Tag.unique() # Unique Tags
    
    for key, word in enumerate(words):
        #initialise list of probability column for a given observation
        p = []
        p_transition = []
        for tag in Tags:
            if key == 0:
                transition_probability = transition_matrix_df.loc['.', tag]
            else:
                transition_probability = transition_matrix_df.loc[state[-1], tag]
                
            # compute emission and state probabilities
            emission_probability = word_given_tag(words[key], tag)
            state_probability = emission_probability * transition_probability
            unknown_word_probability = tag_probability[tag] * transition_probability
            p.append(state_probability)
            p_transition.append(unknown_word_probability)
            
        pmax = max(p)
        # getting state for which probability is maximum
        if pmax == 0:
            state_max = Tags[p_transition.index(max(p_transition))]
        else:
            state_max = Tags[p.index(pmax)] 
        state.append(state_max)
    return list(zip(words, state))

## Test Data

Testing data is provided from same https://www.clips.uantwerpen.be/conll2000/chunking/

In [21]:
Test_data = pd.read_csv('test.txt', delimiter=' ', names = ['Word', 'POS_Tag', 'Chunk_Tag'])
Test_data.head(50)

             Word POS_Tag Chunk_Tag
0        Rockwell     NNP      B-NP
1   International     NNP      I-NP
2           Corp.     NNP      I-NP
3              's     POS      B-NP
4           Tulsa     NNP      I-NP
5            unit      NN      I-NP
6            said     VBD      B-VP
7              it     PRP      B-NP
8          signed     VBD      B-VP
9               a      DT      B-NP
10      tentative      JJ      I-NP
11      agreement      NN      I-NP
12      extending     VBG      B-VP
13            its    PRP$      B-NP
14       contract      NN      I-NP
15           with      IN      B-PP
16         Boeing     NNP      B-NP
17            Co.     NNP      I-NP
18             to      TO      B-VP
19        provide      VB      I-VP
20     structural      JJ      B-NP
21          parts     NNS      I-NP
22            for      IN      B-PP
23         Boeing     NNP      B-NP
24             's     POS      B-NP
25            747      CD      I-NP
26      jetliners     NNS      I-NP
27              .       .         O
28       Rockwell     NNP      B-NP
29           said     VBD      B-VP
30            the      DT      B-NP
31      agreement      NN      I-NP
32          calls     VBZ      B-VP
33            for      IN    B-SBAR
34             it     PRP      B-NP
35             to      TO      B-VP
36         supply      VB      I-VP
37            200      CD      B-NP
38     additional      JJ      I-NP
39      so-called      JJ      I-NP
40       shipsets     NNS      I-NP
41            for      IN      B-PP
42            the      DT      B-NP
43         planes     NNS      I-NP
44              .       .         O
45          These      DT      B-NP
46        include     VBP      B-VP
47              ,       ,         O
48          among      IN      B-PP
49          other      JJ      B-NP

In [22]:
Test_data.describe()

         Word POS_Tag Chunk_Tag
count   47377   47377     47377
unique   8118      43        19
top         ,      NN      I-NP
freq     2390    6642     14376

In [23]:
print(len(Test_data.POS_Tag.unique()))
Test_data.POS_Tag.unique()

43

array(['NNP', 'POS', 'NN', 'VBD', 'PRP', 'DT', 'JJ', 'VBG', 'PRP$', 'IN',
       'TO', 'VB', 'NNS', 'CD', '.', 'VBZ', 'VBP', ',', 'VBN', 'CC', 'RB',
       'WDT', 'WP', '$', 'RBR', 'JJR', 'NNPS', 'MD', 'WRB', ':', 'JJS',
       '``', 'EX', "''", '(', ')', 'WP$', 'RP', 'UH', 'RBS', 'FW', 'PDT',
       '#'], dtype=object)

### Pre-processing

As we can see that there are lot of special characters like ,''#()$. These need to be removed.

In [24]:
remove = [',', '``', "''", '#', '(', '$', ')', ':']
for item in remove:
    index_names = Test_data[Test_data.POS_Tag == item].index
    print(item, '->', len(index_names))
    Test_data.drop(index_names, inplace=True)

Test_data.describe()

, -> 2390
`` -> 323
'' -> 316
# -> 11
( -> 77
$ -> 384
) -> 77
: -> 238

         Word POS_Tag Chunk_Tag
count   43561   43561     43561
unique   8102      35        19
top       the      NN      I-NP
freq     2059    6642     14078

### Testing

In [25]:
test_tagged_words = np.array(Test_data.Word)
print(len(test_tagged_words))
# test_tagged_words[:500]

43561

In [26]:
import time
start = time.time()
tagged_seq = Viterbi(test_tagged_words[:500])
end = time.time()
difference = end-start

print("Time taken in seconds: ", difference)

Time taken in seconds:  244.81610918045044

In [27]:
# accuracy
check = [i for i, j in zip(tagged_seq, np.array(Test_data.POS_Tag.iloc[:500])) if i[1] == j] 

accuracy = len(check)/len(tagged_seq)
print('Viterbi Algorithm Accuracy: ',accuracy*100)

Viterbi Algorithm Accuracy:  92.80000000000001

## Check your own sentence

In [28]:
string = input("Write a sentence: ").split(' ')

Write a sentence: Nothing is so painful to the human mind as a great and sudden change

In [29]:
# Tags for ecah word according to the Traing data
flag = 1
dictionary = dict()
for i in string:
    index_of_word = Train_data[Train_data.Word == i].index
    tag1 = Train_data.loc[index_of_word].POS_Tag.unique()
    if flag:
        data_frame = pd.DataFrame(data = [tag1])
        flag = 0
    else:
        data_frame = data_frame.append([tag1])
s = pd.Series(string)
data_frame.set_index([s], inplace=True)
data_frame

           0    1    2
Nothing   NN  NaN  NaN
is       VBZ  NNS  NaN
so        RB   IN  NaN
painful   JJ  NaN  NaN
to        TO  NaN  NaN
the       DT   IN  NaN
human     JJ  NaN  NaN
mind      NN   VB  NaN
as        RB   IN  NaN
a         DT  NaN  NaN
great     JJ  NaN  NaN
and       CC  NaN  NaN
sudden    JJ  NaN  NaN
change    NN   VB  VBP

In [30]:
vit = Viterbi(string)

In [31]:
pd.DataFrame(data = vit)

          0    1
0   Nothing   NN
1        is  VBZ
2        so   RB
3   painful   JJ
4        to   TO
5       the   DT
6     human   JJ
7      mind   NN
8        as   IN
9         a   DT
10    great   JJ
11      and   CC
12   sudden   JJ
13   change   NN